includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - alias-manager.php
        - includes
        - admin
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - vendor
    parallel:
        maximumNumberOfProcesses: 1
